[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "WaterBalanceR"]
	path = WaterBalanceR
	url = https://github.com/thomasp-gfz/waterbalancer_joss
	subdir = WaterBalanceR
